body{
    margin: 0;
    display: flex;  
    flex-wrap: wrap;            
    justify-content: center;    
    align-items: center;  
    background-image:url(./salute_sfondo.jpg) ;
}

.header{
    width: 95%;
}

.testata{
    font-family: "Science Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: blue;
    border-radius: 15px; 
    border: solid black 2px ;
    margin-top: 1px;
    margin-bottom: 3px;
    background-color: rgb(231, 24, 10);
}

.navbar-goldenrod {
    background-color: rgb(231, 24, 10);
    border-radius: 15px;
    border: solid 2px;
  }

h1{
    text-shadow: 0 0 8px rgba(27, 20, 20, 0.8) ;
    display: flex;
    justify-content: center;
}
.container{
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 2%;
    padding: 2%;
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    width: 95%;
    height: auto;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: lightcoral;
    
}
.articoli {
    display: flex;
    flex-direction: column;
    margin: 1%;
    border-radius: 10%;
    width: 200px;
    height: 200px;
    background-color: pink;
}

.card-desc {
  margin: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;   /* numero di righe visibili */
  -webkit-box-orient: vertical;
  
}

.card{
    box-shadow: 0 0 10px 3px rgba(146, 181, 247, 0.8);
}

span{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    
    color: rgb(219, 16, 16);

}
.articoloSpan{
    display: flex;
    text-align: justify;
    margin: 5%;
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(4, 4, 124);
}
.img-container{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    width: 90%;
    height: 80%x;
    border: 2px;
    border-radius: 5px;
    background-color: lightcoral;

}
.img-container img{
    width: 50%;
    border-radius: 2%;
}

footer{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    background-color: rgb(240, 77, 77);
    gap: 5%;
}
i{
    font-size: 200%;
}
.copyright-icon{
    vertical-align: super;
    font-size: 10px;
}
h2{
    font-family: "Science Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: blue;
    text-shadow: 0 5px 3px rgba(34, 27, 27, 0.8);
}  
h4{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}
h3{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}